 <div id="topBar" class="row">
      <a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Hola <span class="userName">Mario Becco</span>!</a>
    </div>
    <header class="row">

      <h1 class="col-sm-4">
        <a href="#" class="visible-xs-inline-block navToggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <img src="./../assets/images/logo.gif" alt="Warhol  "></h1>
      <nav>
        <ul class="nav">
          <li><a routerLink="/carga-CV" routerLinkActive="active">Carga de CVs<span class="sr-only"></span></a></li>
          <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Postulaciones</a></li>
        </ul>
      </nav>
    </header>